body {
  background-color: rgba(0, 0, 0, 0.5);
  font-family: "Noto Serif SC", serif;
  color: white;
  margin: 0;
}

nav {
  background-color: rgb(25, 10, 94);
  padding: 15px;
  text-align: center;
}

nav a {
  color: white;
  padding: 10px 15px;
  margin: 0 10px;
  text-decoration: none;
  font-weight: bold;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 4px;
}

nav a:hover {
  background-color: white;
  color: black;
}  


.banner {
  text-align: center;
  padding: 60px 10px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.4);
  background-blend-mode: darken;
}

.HomePage .banner {
  background-image: url('pic3.webp'); 
}

.culture .banner {
  background-image: url('banner1.webp');
}

.landmarks .banner {
  background-image: url('pic4.jpg');
}

.attraction .banner {
  background-image: url('pic7.jpg');
}
.hk .banner {
  background-image: url('hk1.jpg');
}



.banner h1 {
  font-size: 40px;
}


.main {
  padding: 20px;
  width: 90%;
  margin: auto;
  text-align: left;
}

.main img {
  float: left;
  width: 40%;
  max-width: 400px;
  height: 300px;  
  object-fit: cover; 
  margin-right: 20px;
  border-radius: 5px;
}

.main p {
  font-size: 18px;
  line-height: 1.5;
  height: 250px;  
  display: flex;
  align-items: center; 
}

.gallery {
  width: 90%;
  margin: 20px auto;
  text-align: center;
}

.gallery img {
  width: 30%;
  margin: 1%;
  border-radius: 5px;
  display: inline-block;
}


.main img:hover {
  transform: scale(1.05);
}

.gallery img:hover {
  transform: scale(1.05);
}

footer {
  text-align: center;
  padding: 15px;
  background-color: rgb(25, 10, 94);
  margin-top: 40px;
}
