nav{
  padding:5px
}
nav a{
  color:white;
  font-size: 1.1rem;
  font-weight: bold;
  padding: 6px 15px;
  border-radius: 5px;
  transition: 0.3s;
}
nav ul{
  display: flex;
  flex: 1;
  justify-content: center;
  gap: 35px;
}
nav a:hover{
  background:white;
  color: black;
}


   #banner p{
      flex: 1;
*{
  font-family: Arial;
}


a{
  text-decoration: none;
}


nav a:hovor{
  border-bottom: 2px soild rgb(0, 0, 0);
}


.banner{
  background-color: rgba(0, 0, 0, 0.575);
  color: white;
}


.main{
  font-size: 30pt;
  color: blue;
}
